<h1>{{ "Welcome to the confirmation page!" }}</h1>
<li><a href="{% url 'index'%}">{{ "Back" }}</a></li>

<form method="POST">
    {% csrf_token %}
    <table>
        {% for item in dataForm %}
            <tr><td>{{ item.winner }}</td><td> {{ item.item }} </td></tr>
        {% endfor %}
    </table>
    <li><a href="{% url 'files:confirm'%}">{{ "Done" }}</a></li>
</form>

<li><a href="{% url 'index'%}">{{ "Back" }}</a></li>

<!--
<table>
    {% for item in winsList %}
        <tr><td>{{ item.winner}}</td> <td>{{ item.itemName }}</td> <td>{{ item.itemDate }}</td>
        <td>{{'Edit'}}</td><td>{{'Delete'}}</td></tr>
    {% endfor %}
</table>
-->
